<p><strong>Title</strong></p>
<p><strong>Body</strong></p>

<% @books.each do |book| %>

<p><%= @book.title %></p>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_books_path(@book.id) %>
<p>|</p>
<%= link_to "Back", index_books_path(@book) %>